/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}

html {
    scroll-behavior: smooth;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1% 5%;
}

section {
    padding: 5% 0;
}

.logo img {
    height: 70px;
    transition: .2s;
}

.img-itens img {
    height: 230px;
}

button {
    font-size: 18px;
    width: 9em;
    height: 3em;
    outline: 1px solid white;
    border: 0;
    color: white;
    transition: .2s;
    cursor: pointer;
    font-weight: 300;
    background-color: transparent;
}

button:hover {
    background-color: white;
    outline: 0;
    color: black;
}

/* cabeçalho */
header {
    width: 100%;
    padding: 0 2em;
    position: fixed;
    top: 0;
    left: 0;
    transition: .2s;
    z-index: 10;
}

header .btn-mobile {
    display: none;
    width: 3em;
    outline: 0;
}

header .btn-mobile i {
    font-size: 30px;
}

header.rolagem {
    background-color: gray;
}

header.rolagem button {
    font-size: 15px;
}

header.rolagem .logo img {
    height: 50px;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu nav ul {
    list-style-type: none;
}

.menu nav ul li {
    display: inline-block;
    margin: 0 2em;
}

.menu nav ul li a {
    color: white;
    text-decoration: none;
}

.menu nav a:hover {
    font-weight: 400;
}

/* hero */
section.hero {
    height: 100vh;
    background-image: url(../images/fundo-hero.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
}

.hero .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.hero .txt-hero {
    padding: 1%;
    background-color: white;
    width: 70%;
    margin-top: 5%;
}

.hero .txt-hero h1 {
    font-size: 50px;
}

.hero .txt-hero p {
    font-size: 20px;
    font-weight: 300;
}

.hero button {
    margin-top: 3%;
    color: black;
    outline: 1px solid black;
    font-weight: 300;
    width: 15em;
    transition: .2s;
}

.hero button:hover {
    outline: 0;
    background-color: #343a40;
    color: white;
}

/* vantagens */
.vantagens {
    background-color: #e5e5e5;
    scroll-margin-top: 4em;
}

.vantagens .itens-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    margin-bottom: 5%;
}

.vantagens .txt-itens h3 {
    font-size: 35px;
}

.vantagens .txt-itens h3 span {
    font-weight: 400;
}

.vantagens .txt-itens p {
    font-size: 20px;
    font-weight: 300;
}

/* contato */
.contato {
    background-color: white;
}

.contato .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30%;
}

.contato .btn-container {
    flex-direction: column;
}

.contato .btn-container button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    margin: 1em 0;
    outline: 1px solid black;
    color: black;
    font-weight: 300;
    width: 15em;
    transition: .2s;
}

.contato .btn-container button i {
    font-size: 25px;
    margin-right: 10%;
}

.contato .btn-container a {
    text-decoration: none;
}

.contato .btn-container button:hover {
    outline: 0;
    background-color: #343a40;
    color: white;
}

.contato .txt-contato h3 {
    font-size: 30px;
}

.contato .txt-contato h3 span {
    font-weight: 500;
}

.contato .txt-contato p {
    font-weight: 300;
    font-size: 20px;
}

/* hospedagem */
.hospedagem {
    background-image: url(../images/img-hospedagem.jpg);
    position: relative;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    z-index: 1;
}

.hospedagem .interface {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hospedagem .overlay {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 65%;
    z-index: 0;
}

.hospedagem .txt-hospedagem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 60%;
    height: 100%;
    color: white;
    gap: 10%;
    z-index: 2;
}

.txt-hospedagem h3 {
    font-size: 30px;
}

.txt-hospedagem h3 span {
    font-weight: 500;
}

.txt-hospedagem p {
    font-size: 20px;
    font-weight: 300;
}

/* sobre */
.sobre {
    scroll-margin-top: 4em;
}

.sobre .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobre .txt-stick {
    height: 60vh;
    position: relative;
}

.sobre h4 {
    position: -webkit-sticky;
    position: sticky;
    top: 6em;
    font-size: 50px;
}

.sobre .container-sobre {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.sobre h4 span {
    font-weight: 400;
}

.sobre article {
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: space-between;
    outline: 1px solid black;
    padding: 1em;
}

.sobre article i {
    font-size: 50px;
}

.sobre article .txt-sobre {
    width: 30em;
}

.sobre article .txt-sobre h5 {
    font-size: 25px;
}

.sobre article .txt-sobre h5 span {
    font-weight: 400;
}

.sobre article .txt-sobre p {
    margin-top: 2%;
    font-weight: 300;
}

/* footer */
footer {
    background-color: black;
}

footer .interface {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    color: white;
    padding: 1em 0;
}

footer .icones-footer {
    display: flex;
    gap: 2em;
}

footer .icones-footer i {
    font-size: 30px;
    color: white;
}

footer .links-footer {
    display: flex;
    gap: 1em;
}

footer .links-footer a {
    color: white;
}

footer .cop-footer {
    width: 70em;
    text-align: center;
    padding: 1em;
    border-top: 2px solid white;
}

/* responsividade */
@media screen and (max-width: 1020px) {

    /* geral */
    button {
        height: 2em;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        text-align: center;
    }

    .interface {
        width: 100%;
    }

    /* cabeçalho */
    header {
        background-color: gray;
        height: 4em;
    }

    header .logo img {
        height: 3.5rem;
    }

    header .btn-contato {
        display: none;
    }

    header .btn-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .btn-mobile .fechar {
        display: none;
    }

    header .btn-mobile i {
        font-size: 3em;
    }

    header .btn-mobile:hover {
        background-color: transparent;
        color: white;
    }

    header .menu.active .btn-mobile .abrir {
        display: none;
    }

    header .menu.active .btn-mobile .fechar {
        display: block;
    }

    header .menu ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        visibility: hidden;
        width: 100%;
        height: 0%;
        top: 4em;
        gap: 1em;
        left: 0;
        z-index: 100;
        align-items: center;
        transition: .3s;
        background-color: #343a40;
        overflow-y: hidden;
    }

    header .menu.active ul {
        flex-direction: column;
        height: 100vh;
        visibility: visible;
        overflow-y: auto;
    }

    header .menu ul li {
        width: 100%;
        text-align: center;
        margin-top: 1em;
        background-color: #92929236;
        padding: 1em;
    }

    header .menu ul li a {
        font-size: 30px;
        font-weight: 300;
    }

    header .menu a:hover::after {
        width: 0;
    }

    /* hero */
    section.hero {
        width: 100%;
    }

    .hero .txt-hero {
        width: 100%;
        margin-top: 5em;
        padding: 5%;
    }

    .hero .txt-hero h1 {
        font-size: 35px;
        font-weight: 300;
    }

    .hero button {
        width: 100%;
    }

    /* vantagens */
    .vantagens .itens-container {
        flex-direction: column;
    }

    .vantagens #reverse {
        flex-direction: column-reverse;
    }

    /* sobre */
    .sobre .interface {
        flex-direction: column;
    }

    .sobre .txt-stick {
        height: 20vh;
    }

    .sobre h4 {
        position: relative;
        top: 0;
    }

    .sobre article .txt-sobre {
        width: 100%;
    }

    .sobre article h5 {
        text-align: left;
    }

    /* hospedagem */
    .hospedagem .txt-hospedagem {
        gap: 5%;
    }

    /* contato */
    .contato .interface {
        flex-direction: column;
    }

    /* footer */
    footer .cop-footer {
        width: 100%;
    }
}